@font-face {
    font-family:Montserrat;
    src: url(fonss/Montserrat-VariableFont_wght.ttf);
}
h1{
    font-size: 243%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 760;
    font-family: Montserrat;
}
body{
    background-color: rgb(136, 135, 135);
}
header{
    text-align: center;
}
#block1 img{
    margin-top: -25px;
    width: 11vw;
    /* transform: rotate(); ctrl+? */
}
#block1{
    font-family: Montserrat;
    color: rgb(36, 36, 36);
}
#block2 img{
    margin-top: 5px;
    width: 40%;
}
#block2{
    text-align: center;
    font-family: Montserrat;
}
#block2{
    color: rgb(27, 27, 165);
}
#block2 h2{
    color: rgb(14, 14, 82);
}
.d2{
    color:rgb(0, 0, 0)
}
#block3{
    font-family: Montserrat;
    color: rgb(101, 27, 170);
}
#block3 h2{
    color: rgb(47, 13, 78)
}
#slidehow #conteyner img{
    width: 52vw;
    object-fit: cover;
    height: 240px;
}
#slidehow #conteyner{
    display: flex;
    gap: 15vw;
    animation: start 5s infinite alternate linear;
    margin-left: 24%;;
}
@keyframes start {
    from{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-67vw);
    }
    to{
    transform: translateX(-134vw);
    }
}
#slidehow{
    width: 67vw;
    margin-left: 24%;
    overflow: hidden;
}
#block4{
    font-family: Montserrat;
    color:rgb(10, 92, 47);
}
#block4 .txtt{
    color:rgb(4, 41, 20);
}